.file-item {
  overflow: scroll;
}

.tree-item {
  background-color: #DFF0D8;
}

.blob-item {
  background-color: #D9EDF7;
}

.loading-item{
  background-color: #FCF8E3;
}

.error-item {
  background-color: #F2DEDE;
}

.Not-Found-item {
    background-color: #F2DEDE;
}